


.body__container{
    display: flex;
}

.container__mainContent__sneaker{
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container__mainContent__div{
padding-top: 100px;
display: flex;
width: 100%;
margin-right:10.5rem ;
justify-content: center;
align-items: center;
background-image: url("./assets/main-content/sneaker-1.svg");
background-size:auto;
background-position: center; 
background-repeat: no-repeat; 
}

.conatiner__mainContent__text{
display: flex;
justify-content: center;
position: relative;
padding-top: 300px;
Width: 100%;
Height: 100%;
left: 25rem;
bottom: 20px;
font-family: 'Space Grotesk';
 font-style: normal;
font-weight: 500;
font-size: 6em;
line-height: 128px;
text-align: center;
color: #fff;
}

.container__mainContent__shadow{
position: relative;
top :16rem;
right: 30rem;
}

.container_mainContent__circle{
   position: absolute;
   width: 200px;
   height: 200px;
   left: -1.5%;
   top:38.3%;
   border: 1px solid #FFFFFF; 
   border-radius: 50%;
}

.container__mainContent__arrow{
    position: absolute;
    right:95%;
    bottom:48.5%
}

.container_mainContent__circleTwo{
    position: fixed;
    width: 200px;
    height: 200px;
    top:38.3%;
    left:91%;
    border: 1px solid #FFFFFF; 
    border-radius: 50%;
 }
 
 .container__mainContent__arrow-r{
     position: absolute;
     right:2%;
     bottom:48.5%
 }