.header {
    padding-top: 40px;
    display: flex;
}

.navBar{
 display: flex;
 width: 100%;
align-items: center;
justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: self-end;
    gap: 30px;
}



.header__navBar__textOne{
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}


.header__navBar__img{
    display: flex;
    padding-left: 60px;
}

.header__navBar__textTwo{
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
margin-right: 60px;

}

.header__navBar__span-text{
    display: flex; 
}

.header__navBar__span-textTwo{
display: flex;
}

.header__navBar__icons{
    display: flex; 
}