

.footer__container{
    padding-left: 31.25em;
}

.footer__container__stars{
    display: flex;
    max-width: 200px;

    
  }

.footer__container__price{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;    
    color: #FFFFFF; 
    max-width: 200px;
}

.footer__container__text{
    padding-top: 10px;
        font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 400px;
    color: #FFFFFF;


}

.footer__container__line{
width: 142px;
height: 0px;
border: 1px solid #FFFFFF;
}

.footer__container__buy{
    width: 142px;
    height: 41px;

    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    
    text-align: center;
    
    color: #FFFFFF;
      
}

.footer__container__button{
    position: absolute;
    bottom:9%;
    left:69%;
}