@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");


body{
    background: linear-gradient(to right,#5348a9 ,#8accf5);
    font-family: 'Space Grotesk', sans-serif;
}


.white{
    color:white;
}